<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<div class="footer">
    <div class="section-one">
        <div class="logo">
            <img src="/assets/book logo.jpg" alt="">
        </div>
        <div class="text">
            <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specim
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specim
            </h5>
        </div>
    </div>
    
    <div class="section-two">
        <div class="container-one">
            <div class="title"><h3>Support</h3></div>
            <div class="sub-texts">
                <div><h5>Help and support</h5></div>
                <div><h5>Terms and conditions</h5></div>
                <div><h5>Support</h5></div>
                <div><h5>FAQs</h5></div>
            </div>
        </div>
        <div class="container-two">
            <div class="title"><h3>Stay Connected</h3></div>
            <div class="email">
                <div class="email-container"><h5>Enter email address</h5></div>
                <div class="submit"><h5>Submit</h5></div>
            </div>
            <div class="sub-texts">
                <h5>Get the latest news and updates on new books, ebemts and activities right in your mailbox.</h5>
            </div>
        </div>
    </div>
</div>
