<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="book-card" (mouseenter)="hover = true" (mouseleave)="hover = false">
    <img [src]="bookImage" alt="{{ bookTitle }}">
    <button *ngIf="hover" class="show-details-btn">View Details</button>
    <h3>{{ bookTitle }}</h3>
    <p>{{ bookAuthor }}</p>
    <p class="price">{{ bookPrice | currency:'GBP' }}</p>
    <div class="rating">
      <span *ngFor="let star of [].constructor(bookRating)">★</span>
    </div>
  
    
  </div>
  
  