<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="container">
    <div class="logo">
        <img src="/assets/book logo.jpg" alt="" width="120px">
        <h2>Welcome to bookstore!</h2>
    </div>
    <div class="options">
        <div class="signup"><p>Sign Up</p></div>
        <div class="line"> | </div>
        <div class="login" (click)="navigateToLogin()"><p>Login</p></div>
    </div>
    <div class="text-container">
        <div class="email">
            <div><p>Email address</p></div>
            <div><input type="email" id="email" name="email" required placeholder="Enter your email"></div>
        </div>
        <div class="password">
            <div><p>Password</p></div>
            <div class="password-input-container">
              <input type="password" id="password" name="password" required placeholder="Enter your password">
              <span class="material-icons toggle-password" (click)="togglePasswordVisibility()">
                visibility
              </span>
            </div>
        </div>
          
          
          <div class="password">
            <div><p>Re-type Password</p></div>
            <div class="password-input-container">
              <input type="password" id="password" name="password" required placeholder="Enter your password">
              <span class="material-icons toggle-password" (click)="togglePasswordVisibility()">
                visibility
              </span>
            </div>
          </div>
    </div>
          
    <div class="submit" (click)="navigateToDashboard()"><button type="submit">Submit</button></div>
</div>