<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet" />
    


<div class="nav-bar">
    <div class="section-one">
        <div class="logo">
            <img src="/assets/book logo.jpg" alt="">
        </div>
        <div class="nav-sections">
            <div class="nav-text"><h4>New Books</h4>
                <span class="material-symbols-outlined">
                stat_minus_1
                </span>
            </div>
            <div class="nav-text"><h4>Fiction</h4>
                    <span class="material-symbols-outlined">
                    stat_minus_1
                    </span>
            </div>
            <div class="nav-text"><h4>Non Fiction</h4>
                        <span class="material-symbols-outlined">
                        stat_minus_1
                        </span>
            </div>
            <div class="nav-text"><h4>Children</h4>
                <span class="material-symbols-outlined">
                            stat_minus_1
                </span>
            </div>
        </div>
    </div>
    <div class="section-two">
        <div class="search">
            <h5>Search anything</h5>
            <span class="material-symbols-outlined">
                search
                </span>
        </div>
        <div class="sign-up">
            <h4>Sign Up</h4>
        </div>
    </div>
</div>

