<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="home">
    <div class="section-one">
        <div class="text-container">
            <div class="title">
                <h1>Welcome to the store where you can get any book</h1>
            </div>
            <div class="sub-title">
                <h4>Experience the future of books with our platform. Start your reading journey to success now.</h4>
            </div>
            <div class="button">
                <h5>Shop Now</h5>
            </div>
        </div>
    
        <div class="book-img">
            <img src="/assets/book-image.jpg" alt="" width="400px" height="350px">
        </div>
    </div>
    
    <div class="section-two">
        <div class="container">
            <div class="icon"><img src="/assets/icon-one.jpg" alt=""></div>
            <div class="text">
                <h4>Flexible Payment</h4>
                <h5>Pay via Multiple Platforms</h5>
            </div>
            
        </div>
    
        <div class="container">
            <div class="icon"><img src="/assets/icon-two.jpg" alt=""></div>
            <div class="text">
                <div class="big-tex"><h4>Online Support</h4></div>
                <div class="small-text"><h5>24/7 Customer Service</h5></div>
            </div>
            
        </div>
    
        <div class="container">
            <div class="icon"><img src="/assets/icon-three.jpg" alt=""></div>
            <div class="text">
                <div class="big-tex"><h4>Easy Shipping</h4></div>
                <div class="small-text"><h5>Pick Up items with ease</h5></div>
            </div>
            
        </div>
    
        <div class="container">
            <div class="icon"><img src="/assets/icon-four.jpg" alt=""></div>
            <div class="text">
                <div class="big-tex"><h4>Quality</h4></div>
                <div class="small-text"><h5>Tested and Trusted platform</h5></div>
            </div>
            
        </div>
    </div>
    

</div>
